*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
**/xcshareddata/WorkspaceSettings.xcsettings

# CocoaPods
iosApp/Pods/
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

# Node
node_modules/
